html{
  width:100%;
  height:100%;
}
body{
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  margin:0;
  width:100%;
  height:100%;
  color:#ffffff;
}
.oops{
  width:500px;
  height:500px;
  background:lime;
  position:relative;
  margin:0 auto;
  top:0;
  z-index:100;
  display:none;
}
/*Zip Screen*/
#zip-screen{
  height:100%;
  width:100%;
  background:#111;
}
#logo{
  font-weight:700;
  font-size:14px;
  letter-spacing:10px;
  color:#fff;
  text-align:center;

  margin: 0 0 130px 0;
  padding-top:50px;
}
.tagline{
  font-size:38px;
  letter-spacing:15px;
  width:90%;
  text-align:center;
  line-height:60px;
  margin:0 auto 90px auto;
}
.zip-field{
  background:#fff;
  display:block;
  border:none;
  max-width:800px;
  width:85%;
  height:50px;
  padding:5px 0;
  margin:0 auto 30px auto;
  color:#333;
  font-size:18px;
  text-align:center;

}
.enter-button{
  background:#6290CC;
  width:50px;
  font-size:11px;
  padding:12px 25px;
  font-weight:500;
  letter-spacing:1.5px;
  margin:0 auto 50px auto;
  text-align:center;
}



.error{
  background:red;
  color:#fff;
  width:500px;
  text-align:center;
  margin:0 auto;
  padding:10px 0;
  font-weight:500;
  font-size:14px;
  letter-spacing:1px;
  display:none;


}
/*Weather*/

.weather-screen{
  display:none;
  height:100%;
  overflow-y:hidden;
  background:radial-gradient(circle at 21.19% 38.99%, #29292e, transparent 89%),radial-gradient(circle at 98.00% 46.00%, #070b14, transparent 100%),radial-gradient(circle at 46.03% 66.23%, #160d24, transparent 47%),radial-gradient(circle at 19.04% 57.1%, #1b2416, transparent 45%),radial-gradient(circle at 74.56% 48.04%, #2b1b18, transparent 31%),radial-gradient(circle at 50% 50%, #080808, #080808 100%);


}
.chilly{
  background:radial-gradient(circle at 21.21% 39.01%, #468d9c, transparent 50%),radial-gradient(circle at 97.97% 45.93%, #02171c, transparent 100%),radial-gradient(circle at 46.01% 66.27%, #160d24, transparent 47%),radial-gradient(circle at 19.01% 57.08%, #1b2416, transparent 45%),radial-gradient(circle at 74.73% 48.04%, #0b2b19, transparent 31%),radial-gradient(circle at 50% 50%, #0a1ea3, #0a1ea3 100%);
}
.cold{
  background:radial-gradient(circle at 21.21% 39.01%, #468d9c, transparent 50%),radial-gradient(circle at 97.97% 45.93%, #064666, transparent 100%),radial-gradient(circle at 46.01% 66.27%, #1ea1d9, transparent 47%),radial-gradient(circle at 19.01% 57.08%, #5cf4ff, transparent 45%),radial-gradient(circle at 74.73% 48.04%, #0b2b19, transparent 31%),radial-gradient(circle at 50% 50%, #f7f6f5, #f7f6f5 100%);
}
.warm{
  background:radial-gradient(circle at 21.21% 39.01%, #deaf14, transparent 50%),radial-gradient(circle at 97.97% 45.93%, #913d19, transparent 100%),radial-gradient(circle at 46.01% 66.27%, #d9c543, transparent 47%),radial-gradient(circle at 19.01% 57.08%, #f2ff7a, transparent 45%),radial-gradient(circle at 74.73% 48.04%, #96661d, transparent 31%),radial-gradient(circle at 50% 50%, #f79c25, #f79c25 100%);
}
/*HEADER*/

header{
  background:radial-gradient(circle at 21.19% 38.99%, #29292e, transparent 89%),radial-gradient(circle at 98.00% 46.00%, #070b14, transparent 100%),radial-gradient(circle at 46.03% 66.23%, #160d24, transparent 47%),radial-gradient(circle at 19.04% 57.1%, #1b2416, transparent 45%),radial-gradient(circle at 74.56% 48.04%, #2b1b18, transparent 31%),radial-gradient(circle at 50% 50%, #080808, #080808 100%);
  color:#eee;
  height:10%;
  min-height:45px;
  width:100%;
  margin-bottom:30px;
  padding:30px 0 10px 0;
}
#back{
  color:#fff;
  text-decoration:none;
  font-size:24px;
  height:100%;
  position:fixed;
  top:25px;
  left:30px;
}
/*Main-Today*/
#main-today{
  width:100%;
  height:40%;
}
.day{
  font-size:12px;
  text-align:center;
  font-weight:100;
  margin-bottom:8px;
  padding-top:100px;
  letter-spacing:.1px;

}
.date{
  font-size:10px;
  color:#999999;
  text-align:center;
  margin-bottom:10px;

}
img{
  max-width:70px;
  width:100%;
  height:auto;
  display:block;
}
.icon{
  width:10%;
  height:auto;
  display:block;
  margin:0 auto 40px auto;
}
.temp_f{
  color:#fff;
  font-weight:100;
  font-size:100px;
  letter-spacing:1px;
  text-align:center;
  margin:0 0 20px 0;

}
.location{
  font-size:18px;
  color:#fff;
  font-weight:300;
  letter-spacing:1px;
  text-transform:uppercase;
  text-align:center;
  margin-bottom:100px;
  margin-bottom:5px;
}
.weather{
  font-size:18px;
  text-align:center;
  font-weight:300;
  color:#eee;
  margin:0 0 50px 0;
}
.color-feel{
  width:25%;
  padding:30px 30px;
  border:10px solid aqua;
  z-index:3;
  margin:0 auto 30px auto;
}




/*Five-Day*/
#five-day{
  width:100%;
  height:100%;

  background:radial-gradient(circle at 21.19% 38.99%, #29292e, transparent 89%),radial-gradient(circle at 98.00% 46.00%, #070b14, transparent 100%),radial-gradient(circle at 46.03% 66.23%, #160d24, transparent 47%),radial-gradient(circle at 19.04% 57.1%, #1b2416, transparent 45%),radial-gradient(circle at 74.56% 48.04%, #2b1b18, transparent 31%),radial-gradient(circle at 50% 50%, #080808, #080808 100%);
}
/*one and two*/
.weekday{
  width:20%;
  height:50%;
  text-align:center;
  font-weight:100;
  font-size:14px;
  float:left;
}
.weekday-name{
  color:#eee;
  padding-top:30px;
  margin:0 0 20px 0;
  font-weight:500;

}
.weekday-icon{
  background:#bbb;
  height:40px;
  width:40px;
  border-radius:100%;
  margin:0 auto 30px auto;
}

.weekday-high{
  color:#99;
  font-weight:500;
  margin:0 0 10px 0;
}
.weekday-low{
  color:#555;
  font-weight:500;
}
